@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    }
	/* 위 : 초기화 코드 */
main {
	width: 80%;
	margin: 0 auto;
	}
	/* html 에서 width 잡을 때, 기본 400px 일때 padding 을 10px을 주면 420px 으로 넓어짐 */
	
table, tr, td {
	border: 1px solid black;
	border-collapse: collapse;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;	
}

h2 {
	margin: 15px 0;
}

/*
#menus {
	width : 780px;
	margin : 30px 0;
	}
#menus td { 
	text-align : center;
	padding : 10px;
	background-color : cyan;
	color : white;
	border : 1px solid white;
	font-weight : bold;
	}
#menus td:hover {
	background-color : white;
	color : black;
}
*/

#menus {
	width : 800px;
	margin : 30px 0;

    td { 
	text-align : center;
	padding : 15px 10px;
	background-color : #333;
	color : white;
	border : 1px solid silver;
	font-weight : bold;
	
	&:hover {
	background-color : #c0c0c0;
	color : white;
    }
    
    a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: white;
    }
    
   }
   
  }
