<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.menus.mapper.MenuMapper">

  <insert id="insertMenu">
    INSERT   INTO   MENUS
     VALUES (
       #{ menu_id } ,
       #{ menu_name } ,
       #{ menu_seq }
     )
  </insert>
  
  <insert id="insertMenuByName">
    INSERT  INTO  MENUS
    VALUES (
        ( SELECT 'MENU' || TRIM( TO_CHAR( NVL( MAX( SUBSTR( MENU_ID, 5, 2 ) ), '00' ) + 1, '00' ) ) FROM MENUS )
      , #{ menu_name }
      , ( SELECT NVL( MAX( MENU_SEQ ), 0 ) + 1 FROM MENUS )
    )
  </insert>
  
  <select id="getMenuList">
    SELECT     MENU_ID, MENU_NAME, MENU_SEQ
      FROM     MENUS
     ORDER BY  MENU_ID ASC
  </select>
  
  <select id="getMenu">
    SELECT   MENU_ID, MENU_NAME, MENU_SEQ
      FROM   MENUS
     WHERE   MENU_ID   = #{ menu_id }
  </select>

  <delete id="deleteMenu">
    DELETE   FROM   MENUS
     WHERE   MENU_ID = #{ menu_id }
  </delete>

  <update id="updateMenu">
    UPDATE   MENUS
       SET   MENU_NAME = #{ menu_name } ,
             MENU_SEQ  = #{ menu_seq }
     WHERE   MENU_ID   = #{ menu_id }
  </update>

</mapper>
