<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.user.mapper.UserMapper">

	<resultMap id="getUserList" type="java.util.HashMap">
    <result property="userid" column="userid" />
    <result property="username" column="username" />
    <result property="email" column="email" />
    <result property="upoint" column="upoint" />
    <result property="indate" column="indate" />
    </resultMap>

	<!-- 목록 조회, 비번은 조회되면 안됨 -->
	<select id="getUserList" resultMap="getUserList">
	
	  SELECT
	    USERID,
		USERNAME,
		EMAIL,
		
		CASE
          WHEN   UPOINT   BETWEEN   8001   AND   10000   THEN   'VIP'
          WHEN   UPOINT   BETWEEN   6001   AND    8000   THEN   '우수회원'
          WHEN   UPOINT   BETWEEN   4001   AND    6000   THEN   '일반회원'
          WHEN   UPOINT   BETWEEN   2001   AND    4000   THEN   '준회원'
          WHEN   UPOINT   BETWEEN      0   AND    2000   THEN   '손님'
        END   UPOINT,
		
		TO_CHAR( INDATE, 'YYYY-MM-DD' ) INDATE
		
	  FROM  TUSER
	  	
	  ORDER BY  USERID ASC
	
	</select>
	
	<insert id="insertUser">
	
	  INSERT  INTO  TUSER (
	    USERID,
	    PASSWD,
		USERNAME,
		EMAIL,
		UPOINT,
		INDATE
	  )
	    VALUES  (
	    #{ userid },
	    #{ passwd },
	    #{ username },
	    #{ email },
	    1000,
	    SYSDATE
	  )
	  
	</insert>

</mapper>